<ion-content>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
  
  </ion-toolbar>
  <br>
  <br>
  <br>
  <br>
  <ion-item>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <ion-icon class="icon-big" name="cash" item-start >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-icon>
    <ion-label class="labelTitle">Refund</ion-label>
  </ion-item>
  
  <br>
  <br>
  <ion-item class="item item-text-wrap " >
   <b class="colorDescription"> Through this option you can request a new pre-authorization and consult pre-authorizations already submitted.

      Selecting "Go to pre-authorization" will open your default browser, where you must enter My Bupa username and password again.</b>
  </ion-item>


  <ion-item>
    
  </ion-item>

  <ion-button  class="color"  style="color:white" expand="block" (click)="login()" > go to pre-auhorization</ion-button>

  

</ion-content>